body {
	font-family: sans-serif;
}
main {
	max-width: 960px;
	margin: 0 auto;
}
#ausgabe {
	display: grid;
	border: 0;
	width: 100vw;
	overflow-y: scroll;
	position: fixed;
	top: 5em;
	left: 0;
	right: 0;
	bottom: 30vh;
	z-index: 1;
	font-size: 1.2em;
}
#info {
	font-weight: bold;
	color: blue;
	z-index: 2;
	position: fixed;
	left: 0;
	bottom: 30vh;
	width: 100%;
	text-align: center;
	font-size: 2em;
	animation: blink 0.2s alternate infinite;
}
form {
	display: block;
	width: 100vw;
	position: fixed;
	top: 70vh;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 2em;
	text-align: center;
	border: 0;
	background: lightgray;
	z-index: 2;
	overflow-y: scroll;
	border-top: 0.2em solid orange;
}
form > * {
	font-size: 3em;
}
label {
	vertical-align: middle;
	display: inline;
}
input {
	font: medium sans-serif;
	width: 50vw;
	padding: .3em;
	margin: .1em;
}
.eintrag {
	word-break: break-all;
	font-size: 1.2em;
	font-family: sans-serif;
	padding: 0.2em 2em;
	background: lightyellow;
	text-align: right;
}
.eintrag:nth-child(odd) {
	background: gold;
}
.eintrag > a {
	text-decoration: none;
	color: black;
	text-align: left;
	font-size: 1.3em;
}
.eintrag:last-of-type {
	margin-bottom: 40vh;
}
@keyframes blink {
	from {opacity: 0 } to {opacity: 1 }
}
input {
	vertical-align: middle;
	font-size: 1em;
}
input[type='checkbox'] {
	-webkit-appearance: none;
	vertical-align: baseline;
	width: 8em;
	height: 8em;
	border-radius: 2em;
	background: red;
	border: 2px solid yellow;
}
input[type='checkbox']:checked {
	background: lime;
	-webkit-appearance: checkbox;
}
#boxtext {
	display: inline-block;
}